<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mick88.convoytrucking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ConvoyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/LaunchTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".houses.detail.HouseActivity"
            android:label="@string/house"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".players.PlayerActivity"
            android:label="@string/player"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".vehicles.VehicleListActivity"
            android:label="@string/vehicles"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".dealers.vehicles.DealerVehicleListActivity"
            android:label="@string/vehicles"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>
